:root{
    --cor-header-footer: #703d20;
    --cor-container-apresentacao: #985930;
    --cor-botao: #f3af40;
    --cor-conteiner: #ead6be;
    --cor-background: #f8f2e4;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
    
}

a {
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    padding-top: 60px;
    
}

h1, h2 {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 3.5rem;   

}

h2 {
    font-size: 2rem;

}

.main-content {
    max-width: 1200px;
    margin: 0 auto;    
}

.division {
    min-height: 50vh;
    
}

.menu {
    background-color: var(--cor-header-footer);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;   
    
     
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    color: white;
    font-family: sans-serif;
    padding: 1.3rem;
    padding-right: 1.5rem;
    text-shadow: 1px 1px 2px black;
    
}

.menu ul li a:hover{
    
    transition: all 300ms ease-in-out;
    font-size: 1.2em;
    
}

.menu h1 a {
    color: white;
    padding-left: 5rem;
}


p{
    color: black;
}

.hero{
    background-color: var(--cor-container-apresentacao);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container{
    
    display: flex;
    width: 100%;
    align-items: center;
    
     
}

.hero-content{
    display: flex;
    flex: 1;
    flex-basis: 0;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    padding: 5em;
    gap: 20px;    
      
}

.hero-content h1{
    color: white;

}

.hero-content h3{
    color: white;
    font-family: sans-serif;
    text-align: justify;
}

.hero-content button{
    border-radius: 10em;
    border: none;
    padding: 12px 30px;
    background-color: var(--cor-botao); 
    text-decoration: none;
    color: var(--cor-header-footer);   
    font-family: "Chewy", system-ui;
    font-size: 2em;
}

.hero-content button:hover {
    transition: all 300ms ease-in-out;
    font-size: 2.5em;
}

.hero-image {
    display: flex;
    flex: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    
}

.hero-image img {
    max-width: 60%;    
}

.main-hobbies{    
    background-color: var(--cor-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-hobbies {
    display: flex;
    width: 100%;
    align-items: center;
    
}

.text-hobbies {
    display: flex;
    flex: 1;
    flex-basis: 0;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    padding: 5em;
    gap: 5px;
    
    
}

.text-hobbies h1{
    color: var(--cor-header-footer);
}

.image-hobbies {
    display: flex;
    flex: 1;
    flex-basis: 0;
    justify-content: center;
}

.image-hobbies img {    
    max-width: 60%;
}

.lista-hobbies {
    color: var(--cor-header-footer);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}


.division-hobbies {
    min-height: 20vh;
}

.titulo-momentos {
    color: var(--cor-header-footer);

}

.container-moments {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;  
}

.main-moments{    
    background-color: var(--cor-conteiner);
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria-fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
    padding: 1em;
}

.foto-card {    
    border: 5px solid white;
    border-radius: 3em;
}

.foto-card img{
    display: block;
    width: 100%;
    object-fit: cover;
    height: 20em;
    border-radius: 3em;
}

.style-footer {
    display: flex;
    flex-basis: 0;
    flex: 1;
    background-color: var(--cor-header-footer);
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    color: aliceblue;
}